*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color:#f6f8f9;
}


/* HEADER */



#site-header{
    background-color: white;
}


.logo-sec{
  padding: 1rem 0 1rem 1rem;
}



.logo-name{
    display: inline-block;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    font-weight: 800;
    color: #0a1e35;
}

.logo{
    vertical-align: bottom;

}


/* header */




/* MAIN */

#site-main{
    width:60%;
    margin:5rem auto;
    background-color: white;
    padding:1rem 2rem;
    border-radius: 5px;
}


/* BUTTON */

.btn{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: .4rem .7rem;
    border-radius: 5px;
    background-color: white;
    color: #d6dade;
    border: 1px solid #d6dade;
    margin-right:.2rem;
    font-size: 0.7rem;
}

.color-btn{
    border: none;
    color: white;
    background-color:#47adf1 ;
}