*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color:#f6f8f9;
    color:#575b64;
}


/* HEADER */



#site-header{
    background-color: white;
}


.logo-sec{
  padding: 1rem 0 1rem 1rem;
}



.logo-name{
    display: inline-block;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    font-weight: 800;
    color: #0a1e35;
}

.logo{
    vertical-align: bottom;

}


/* header */




/* MAIN */

#site-main{
    width:60%;
    margin:5rem auto;
    border-radius: 5px;
}


/* BUTTON */
.buttons{
    margin-bottom:3px;
    padding:.7rem 2.5rem;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.btn{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: .4rem .7rem;
    border-radius: 5px;
    background-color: white;
    color: #d6dade;
    border: 1px solid #d6dade;
    margin-right:.2rem;
    font-size: 0.7rem;
}

.color-btn{
    border: none;
    color: white;
    background-color:#47adf1 ;
}





/* INFO */



.info{
    background-color: white;
    padding:1rem 2.5rem;
    font-weight: 600;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;


}

.info-title{
    margin-top: 2rem;
}




.arrow{
    font-size: 1.8rem;
    vertical-align: text-top;
    
}




.item{
    margin-top: 2rem;
    margin-left: .8rem;
}

.first-item{
    margin-top:.5rem ;
}






/* CHECK & CROSS */

.check, .cross{
    color:#a7dcd0;
    border: 2px solid #a7dcd0;
    padding:0.1em 0.3em;
    border-radius: 50%;
    font-size:0.9rem;
    margin-right: .5rem;
}
.cross{
    color:#ee6a62;
    border: 2px solid #ee6a62;

}

/* CHECK & CROSS */








/* COLOR ACCENT */


.editorial, .goals, .recruiting, .mobile, .website, .sales
{
    background: #47adf1;
    border-radius: 12px;
    padding: .4rem .8rem;
    color:white;
    font-size: .7rem;
    margin-left: 0.2rem;
    letter-spacing: 0.1em;
    font-weight: 400;

}

.goals{background-color: #9c72e4;}
.recruiting{background-color: #64c0a9;}
.mobile{background-color:#f29e33;}
.website{background-color: #d863a1;}
.sales{background-color: #b0c926;}


/* COLOR ACCENT */
